In [2]:
from pandas import Series,DataFrame
import pandas as pd
from pandas import read_html

In [3]:
url = 'https://www.fdic.gov/Bank/individual/failed/banklist.html'

In [4]:
#pip install beautiful-soup
#pip install html5lib

In [5]:
dframe_list = pd.io.html.read_html(url)

In [8]:
dframe = dframe_list[0]
dframe

                                             Bank Name  ...        Updated Date
0                                 The Enloe State Bank  ...     August 22, 2019
1                  Washington Federal Bank for Savings  ...       July 24, 2019
2      The Farmers and Merchants State Bank of Argonia  ...     August 12, 2019
3                                  Fayette County Bank  ...    January 29, 2019
4    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...  ...      March 22, 2018
5                                       First NBC Bank  ...    January 29, 2019
6                                        Proficio Bank  ...    January 29, 2019
7                        Seaway Bank and Trust Company  ...    January 29, 2019
8                               Harvest Community Bank  ...  September 20, 2019
9                                          Allied Bank  ...        May 13, 2019
10                        The Woodbury Banking Company  ...   December 13, 2018
11                              First CornerStone Bank  ...   November 13, 2018
12                                  Trust Company Bank  ...  September 14, 2018
13                          North Milwaukee State Bank  ...    January 29, 2019
14                              Hometown National Bank  ...   February 19, 2018
15                                 The Bank of Georgia  ...        July 9, 2018
16                                        Premier Bank  ...   February 20, 2018
17                                      Edgebrook Bank  ...    January 29, 2019
18                              Doral Bank  En Español  ...    January 29, 2019
19                   Capitol City Bank & Trust Company  ...    January 29, 2019
20                             Highland Community Bank  ...   November 15, 2017
21                    First National Bank of Crestview  ...   November 15, 2017
22                                  Northern Star Bank  ...     January 3, 2018
23              Frontier Bank, FSB D/B/A El Paseo Bank  ...   November 10, 2016
24               The National Republic Bank of Chicago  ...     January 6, 2016
25                                      NBRS Financial  ...    January 29, 2019
26                               GreenChoice Bank, fsb  ...   December 12, 2016
27                            Eastside Commercial Bank  ...     October 6, 2017
28                              The Freedom State Bank  ...   February 21, 2018
29                                         Valley Bank  ...    January 29, 2019
..                                                 ...  ...                 ...
526                                  ANB Financial, NA  ...    February 1, 2019
527                                          Hume Bank  ...    January 31, 2019
528                             Douglass National Bank  ...    October 26, 2012
529                                  Miami Valley Bank  ...  September 12, 2016
530                                            NetBank  ...    January 31, 2019
531                          Metropolitan Savings Bank  ...    October 27, 2010
532                                    Bank of Ephraim  ...       April 9, 2008
533                                      Reliance Bank  ...       April 9, 2008
534              Guaranty National Bank of Tallahassee  ...      April 17, 2018
535                                Dollar Savings Bank  ...       April 9, 2008
536                               Pulaski Savings Bank  ...     October 6, 2017
537              First National Bank of Blanchardville  ...        June 5, 2012
538                              Southern Pacific Bank  ...    October 20, 2008
539                        Farmers Bank of Cheneyville  ...    October 20, 2004
540                                      Bank of Alamo  ...      March 18, 2005
541             AmTrade International Bank  En Español  ...  September 11, 2006
542                     Universal Federal Savings Bank  ...     October 6, 2017
543                       Connecticut Bank of Commerce  ...   February 14, 2012
544                                   New Century Bank  ...      March 18, 2005
545                              Net 1st National Bank  ...       April 9, 2008
546                                       NextBank, NA  ...    February 5, 2015
547                           Oakwood Deposit Bank Co.  ...    October 25, 2012
548                              Bank of Sierra Blanca  ...    November 6, 2003
549                      Hamilton Bank, NA  En Español  ...  September 21, 2015
550                             Sinclair National Bank  ...     October 6, 2017
551                                 Superior Bank, FSB  ...     August 19, 2014
552                                Malta National Bank  ...   November 18, 2002
553                    First Alliance Bank & Trust Co.  ...   February 18, 2003
554                  National State Bank of Metropolis  ...      March 17, 2005
555                                   Bank of Honolulu  ...      March 17, 2005

[556 rows x 7 columns]

In [9]:
dframe.columns.values

array(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'], dtype=object)