In [15]:
Dict = {}
Dict ['Name'] = 'Virgile','Bou Akl','Dijoux','Fauvette','Inga Gullen','Karayil','Khairallah','Leung','Salameh','Thundiyil,''Vedhachalam','Walia','Yahyavi'
Dict ['Surname'] = 'Jean','Natacha','Nicolas','Lorenzo','Ruth','Rison','Lea','Desmond','Sami','Jaisu','Sukumar','Krittika','Behdad'
Dict ['Nationality'] ='Africa','Lebanon','France','Italy','Peru','India','Lebanon','Hong Kong','Lebanon','India','India','India','Iran'
Dict['Age'] = '29','24','26','28','30','29','25','29','39','29','23','26','23'
Dict

{'Name': ('Virgile',
  'Bou Akl',
  'Dijoux',
  'Fauvette',
  'Inga Gullen',
  'Karayil',
  'Khairallah',
  'Leung',
  'Salameh',
  'Thundiyil,Vedhachalam',
  'Walia',
  'Yahyavi'),
 'Surname': ('Jean',
  'Natacha',
  'Nicolas',
  'Lorenzo',
  'Ruth',
  'Rison',
  'Lea',
  'Desmond',
  'Sami',
  'Jaisu',
  'Sukumar',
  'Krittika',
  'Behdad'),
 'Nationality': ('Africa',
  'Lebanon',
  'France',
  'Italy',
  'Peru',
  'India',
  'Lebanon',
  'Hong Kong',
  'Lebanon',
  'India',
  'India',
  'India',
  'Iran'),
 'Age': ('29',
  '24',
  '26',
  '28',
  '30',
  '29',
  '25',
  '29',
  '39',
  '29',
  '23',
  '26',
  '23')}

In [17]:
print(Dict['Name'][5])
print (Dict['Surname'][5])
print (Dict['Nationality'][5])
print (Dict['Age'][5])

Karayil
Rison
India
29