In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd
from numpy.random import randn #grab random numbers

In [2]:
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

In [8]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
ranger = range(15)

In [10]:
ranger

range(0, 15)

In [12]:
ser3.reindex(ranger,method='ffill') #fill with series

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [19]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])

In [20]:
dframe

       col1      col2      col3      col4      col5
A  0.575822  0.793573  0.458924 -1.504416 -1.283643
B -1.029497  0.931601 -0.170434  0.024826  1.242200
D -0.555216 -1.011600 -0.052840 -0.621333 -0.611806
E  0.227869  0.171180  0.218875 -1.894108  0.067400
F -0.497307  0.332351 -1.113624  0.345671 -0.483642

In [21]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [22]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [23]:
dframe.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.575822  0.793573  0.458924 -1.504416 -1.283643   NaN
B -1.029497  0.931601 -0.170434  0.024826  1.242200   NaN
D -0.555216 -1.011600 -0.052840 -0.621333 -0.611806   NaN
E  0.227869  0.171180  0.218875 -1.894108  0.067400   NaN
F -0.497307  0.332351 -1.113624  0.345671 -0.483642   NaN

In [24]:
dframe

       col1      col2      col3      col4      col5
A  0.575822  0.793573  0.458924 -1.504416 -1.283643
B -1.029497  0.931601 -0.170434  0.024826  1.242200
D -0.555216 -1.011600 -0.052840 -0.621333 -0.611806
E  0.227869  0.171180  0.218875 -1.894108  0.067400
F -0.497307  0.332351 -1.113624  0.345671 -0.483642

In [26]:
dframe.loc[['A','B','C','D','E','F'],new_columns]

/Users/aldo/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

       col1      col2      col3      col4      col5  col6
A  0.575822  0.793573  0.458924 -1.504416 -1.283643   NaN
B -1.029497  0.931601 -0.170434  0.024826  1.242200   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.555216 -1.011600 -0.052840 -0.621333 -0.611806   NaN
E  0.227869  0.171180  0.218875 -1.894108  0.067400   NaN
F -0.497307  0.332351 -1.113624  0.345671 -0.483642   NaN