In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
#OPEN TEXT EDITOR AND PUT SOME LETTERS AND NUMBERS AND SAVE IT IN YOUR PYTHON FOLDER

In [6]:
dframe = pd.read_csv('LEC_19.csv')
dframe

       q  r  s  t   apple
0      2  3  4  5    pear
1      a  s  d  f  rabbit
2      5  2  5  7     dog

In [8]:
dframe = pd.read_csv('LEC_19.csv',header=None) #now no header and it index it automatically
dframe

       0  1  2  3       4
0      q  r  s  t   apple
1      2  3  4  5    pear
2      a  s  d  f  rabbit
3      5  2  5  7     dog

In [12]:
pd.read_csv('LEC_19.csv',sep=',',header=None, nrows=2)

       0  1  2  3      4
0      q  r  s  t  apple
1      2  3  4  5   pear

In [13]:
#how to export dataframe
dframe.to_csv('mytxt_data_out.csv')

In [14]:
import sys #using different delimiters

In [15]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,    q,r,s,t,apple
1,    2,3,4,5,pear
2,    a,s,d,f,rabbit
3,    5,2,5,7,dog

In [16]:
dframe.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_    q_r_s_t_apple
1_    2_3_4_5_pear
2_    a_s_d_f_rabbit
3_    5_2_5_7_dog

In [17]:
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?    q?r?s?t?apple
1?    2?3?4?5?pear
2?    a?s?d?f?rabbit
3?    5?2?5?7?dog

In [18]:
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,    q,r,s
1,    2,3,4
2,    a,s,d
3,    5,2,5

In [ ]:
url = 'https://docs.python.org/3/library/csv.html'
#all info about commaseparator readers for python